.logout{
    padding-left: 20px;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0px;
    left: 0;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    color: black;
    vertical-align: middle;
    cursor:pointer;
}

.iconLogout{
    vertical-align: middle;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}