
<div class="legende">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <p>Légende:</p>
    <ul>
        <li><span class="remis material-symbols-outlined">
            check_circle
            </span>Remis</li>
        <li><span class="remettre material-symbols-outlined">
            hourglass_empty
            </span>À remettre</li>
        <li><span class="retard material-symbols-outlined">
            error
            </span>Remis en retard</li>
        <li><span class="nonRemis material-symbols-outlined">
            cancel
            </span>Non remis</li>
        <li><span class="prevu material-symbols-outlined">
            event
            </span>Prévu</li>
    </ul>
</div>