<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="singleTravailContainer">
    <div class="titreTravailContainer">
        {{assignmentName}} (Correction de groupe)
    </div>
    <div class="detailTravailContainer">
        
        <table>
            <col style="width:55%">
            <col style="width:45%">

            <td >
                <div (click)="downloadAll()" class="button buttonTelecharger">
                    <span style="vertical-align: middle;">Télécharger les Travaux des étudiants </span><span class="iconButton material-symbols-outlined">download</span>
                </div>
            </td>
        </table>

        <br>

        <div class=remiseTravailContainer>
            <div class="remiseTitreTravailContainer">
                <p style="padding-left: 10px;">Déposez le fichier de correction</p>
            </div>
            <div class="detailTravailContainer">
                <app-drop-box [enableSend]="true" [onlyZip]="true" (onFileSave)="fileSaved($event)"></app-drop-box>
            </div>
        </div>

        <div *ngIf="showSuccess">
            <br>
            <p style="color: #2980B9;font-size: large;font-weight: bold;">La correction a été envoyée aux étudiants avec succès !</p>
        </div>

        <div *ngIf="showError">
            <br>
            <p style="color: #C0392B;font-size: large;font-weight: bold;">Échec de l'envoie des correction</p>
        </div>

    </div>
</div>