<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div *ngIf="!onlyZip">
    <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneClassName="dropZoneStyle" [showBrowseBtn]="true">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <table class="dropZoneContent">
                <tr><th>Déposez vos fichiers ici !</th></tr>
                <tr><td><br></td></tr>
                <tr><td>
                    <div (click)="openFileSelector()" class="buttonParcourir">
                        <span style="vertical-align: middle;">Parcourir  </span><span class="iconButton material-symbols-outlined">folder_open</span>
                    </div>
                </td></tr>
            </table>
        </ng-template>
    </ngx-file-drop>
</div>

<div *ngIf="onlyZip">
    <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneClassName="dropZoneStyle" [showBrowseBtn]="true" [multiple]="false" [directory]="false" accept=".zip" >
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <table class="dropZoneContent">
                <tr><th>Déposez le zip des dossiers tel que téléchargé</th></tr>
                <tr><td><br></td></tr>
                <tr><td>
                    <div (click)="openFileSelector()" class="buttonParcourir">
                        <span style="vertical-align: middle;">Parcourir  </span><span class="iconButton material-symbols-outlined">folder_open</span>
                    </div>
                </td></tr>
            </table>
        </ng-template>
    </ngx-file-drop>
</div>

<table *ngIf="files.length > 0" class="fileList">
    <tr style="margin-bottom: 15px;">
        <th>Fichiers : </th>
    </tr>
    <tr *ngFor="let item of files; let i=index">
        <td style="padding-left: 20px;">{{ item.relativePath }}</td>
    </tr>
    <tr>
        <td>
            <div *ngIf="enableSend" (click)="zipAndSend()" class="buttonEnvoyer">
                <span style="vertical-align: middle;">Envoyer  </span><span class="iconButton material-symbols-outlined">cloud_upload</span>
            </div>
            <div (click)="cancel()" class="buttonAnuler">
                <span style="vertical-align: middle;">Annuler  </span><span class="iconButton material-symbols-outlined">close</span>
            </div>
        </td>

        <td>
            
        </td>
    </tr>
</table>
